<div class="unavailable-service margin-bottom-lg-lg">
	<div class="unavailable-service-content">
		<div class="container-fluid">
			<div class="unavailable-service-content-top">
				<div class="unavailable-service-content-top-title">
					<h1 class="unavailable-service-content-top-title-header text-center text-black1-lg text-bold">
						Une erreur est survenue.
					</h1>
				</div>
			</div>

			<div class="unavailable-service-content-bottom text-center">
				<div class="padding-bottom-lg padding-bottom-none-sm">
					<button type="button" [routerLink]="['']" class="btn btn-primary text-uppercase cursor-pointer">
						Retour à la page home.
					</button>
				</div>
			</div>
		</div>
	</div>
</div>