@import "../components/styles/sass/_vars.scss";

.about {
  color: $white;
  padding-bottom: 50px;

  h2 {
    font-size: 3em;
  }

  hr.star-light {
    border-color: $white;
  }

  hr.star-light, hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
  }

  hr.star-light:after {
    background-color: $green1;
    color: $white;
  }

  hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em;
  }

  p {
    font-size: 20px;
  }
}