<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form name="loginForm" (ngSubmit)="loginForm.form.valid && submit()" #loginForm="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !email.valid }">
                        <label for="email">Email</label>
                        <input
                                required
                                [(ngModel)]="model.email"
                                [ngModelOptions]="{ standalone: true }"
                                #email="ngModel"
                                type="email"
                                name="email"
                                class="form-control"
                                id="email"
                                placeholder="Email">
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">
                        <label for="password">Password</label>
                        <input
                                required
                                [(ngModel)]="model.password"
                                [ngModelOptions]="{ standalone: true }"
                                #password="ngModel"
                                type="password"
                                class="form-control"
                                id="password"
                                placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button [disabled]="loading || !loginForm.form.valid" type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>