/** NAVBAR **/
$navbar-default-bg: $blue1;
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-active-color: $white;
$navbar-default-link-hover-color: $green1;

/** TYPOGRAPHY **/
$font-family-sans-serif: "Montserrat";
$font-family-base: $font-family-sans-serif;

.cursor-pointer {
  cursor: pointer !important;
}