<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand">Skeleton</a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" *ngIf="!logged" [routerLink]="['login']">{{ 'header.links.login' | translate }}</a>
					<a class="nav-link" *ngIf="logged" (click)="logout()" class="cursor-pointer">Log Out</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" [routerLink]="['about']">{{ 'header.links.about' | translate }}</a>
				</li>
			</ul>
			<div ngbDropdown class="d-inline-block">
				<button class="btn btn-outline-primary cursor-pointer text-uppercase" id="dropdownMenu1" ngbDropdownToggle>
					{{ translateService.currentLang }}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<button
							class="dropdown-item cursor-pointer text-uppercase"
							*ngFor="let language of languages"
							(click)="translateService.use(language);">
						{{ language }}
					</button>
				</div>
			</div>
		</div>
	</div>
</nav>