<nav class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a [routerLink]="['']" class="navbar-brand">
				Skeleton
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a [routerLink]="['about']">{{ 'header.links.about' | translate }}</a>
				</li>
				<li>
					<a *ngIf="!logged" [routerLink]="['login']">{{ 'header.links.login' | translate }}</a>
					<a *ngIf="logged" (click)="logout()">Log Out</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<div class="btn-group margin-top-xs" dropdown>
						<button id="single-button" type="button" class="btn btn-default" dropdownToggle>
							{{ translateService.currentLang }} <span class="caret"></span>
						</button>
						<ul dropdownMenu role="menu" aria-labelledby="single-button">
							<li role="menuitem" *ngFor="let language of languages" (click)="translateService.use(language);">
								<a class="dropdown-item">{{ language }}</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>