<div class="home background-green1-sm padding-bottom-lg-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center home-title margin-top-lg">{{ 'home.title' | translate }}</h2>
	              <!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->
	              <div class="text-center margin-top-lg margin-bottom-lg">
		              <img src="/public/img/angular.png">
	              </div>
            </div>
        </div>
    </div>
</div>